* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@keyframes infinitySlide {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes dropLeft {
  0% {
    opacity: 0;
    transform: translateX(-600px);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes dropBottom {
  0% {
    opacity: 0;
    transform: translateY(-600px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
body {
  background-image: url(/assets/img/Untitled\ design.png);
  background-position: center;
  background-size: contain;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  animation: dropBottom 2s alternate;
  background-color: white;
}

nav a {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 700;
  color: rgb(100, 169, 31);
}

nav a:hover {
  color: rgba(100, 169, 31, 0.561);
}
nav a:focus {
  color: rgba(100, 169, 31, 0.561);
}

main {
  margin: 0 auto;
  padding: 80px;
  width: 100%;
  height: 100%;
}
main h1 {
  width: 100%;
  text-align: start;
  padding: 0 20px 0 50px;
  color: rgb(100, 169, 31);
  box-shadow: rgb(124, 252, 0) 0px 2px 4px -2px;
  border-radius: 5px;
  background-color: white;
  animation: dropLeft 2s;
}

.item {
  width: 300px;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  cursor: pointer;
  position: relative;
  animation: dropLeft alternate;
  background-color: white;
}

.i01 {
  animation-duration: 3s;
}
.i02 {
  animation-duration: 4s;
}
.i03 {
  animation-duration: 5s;
}

.btn-open {
  font-weight: bold;
  color: rgb(124, 252, 0);
  border: 1px solid rgb(124, 252, 0);
  transition: all 300ms ease-in;
  background-color: white;
  width: 80px;
  padding: 7px;
  cursor: pointer;
  border-radius: 50px;
  position: absolute;
  top: 400px;
  left: 190px;
}

.btn-open:hover {
  background: linear-gradient(45deg, rgb(124, 252, 0), rgb(62, 123, 0));
  border: 1px solid white;
  color: white;
}
.btn-open:focus {
  background: linear-gradient(45deg, rgb(124, 252, 0), rgb(62, 123, 0));
  border: 1px solid white;
  color: white;
}

.picture-item {
  background-image: url(/assets/img/mirnus_masculino_camiseta_new_trip_preto_0111-e0d25d579d3ca5616416207437832025-640-0.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  animation-delay: 5s;
}

.i02 .picture-item {
  background-image: url(/assets/img/verde-limao--926x926.png);
}
.see-plus {
  background-image: url(/assets/img/em-breve.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.about-item {
  padding: 20px;
  margin-top: 10px;
  color: rgb(100, 169, 31);
}
.about-item p {
  font-style: italic;
  margin-top: 10px;
}

.grid-product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 10%;
}

/* FOOTER */

footer {
  height: 30vh;
  background-color: rgb(0, 0, 0);
  color: rgba(100, 169, 31, 0.478);
  padding: 40px;
  box-shadow: rgba(124, 252, 0, 0.8) 0px -30px 50px -28px inset;
  position: absolute;
  width: 100%;
}

footer img {
  padding: 5px;
  margin-right: 20px;
}

/* Inpecionar item */
.item {
  position: relative;
}

.modal-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-item {
  position: fixed;
  z-index: 20;
  width: 100%;
  max-width: 950px;
  display: flex;
  top: 180px;
  height: 60vh;
  opacity: 0;
  transform: scale(0.1);
  transition: all 300ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 9000px 5000px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.full-picture {
  width: 100%;
  height: 600px;
  overflow: hidden;
  min-width: 450px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn-close {
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 20px;
  left: 20px;
  transition: all 100ms ease-in;
  cursor: pointer;
}
.btn-close:hover {
  transform: scale(1.2);
}
.btn-close:focus {
  transform: scale(1.2);
}

.open {
  opacity: 1;
  transform: scale(1);
}

.info-item {
  padding: 30px;
}

.colors {
  display: flex;
  margin-bottom: 20px;
}

.color-product {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid rgb(124, 252, 0);
  cursor: pointer;
  transition: all 300ms ease;
}
.color-product:hover {
  transform: scale(1.2);
}
.color-product:focus {
  transform: scale(1.2);
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
.purple {
  background-color: purple;
}

.sizes {
  display: flex;
  margin-bottom: 20px;
}

.size-product {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(100, 169, 31);
  margin-left: 10px;
  border: 1px solid rgb(124, 252, 0);
  background-color: rgba(128, 128, 128, 0.265);
  cursor: pointer;
  transition: all 300ms ease;
}

.size-product:hover {
  background-color: rgba(100, 169, 31, 0.366);
}

.size-product:focus {
  background-color: rgba(100, 169, 31, 0.366);
}
h2,
h3,
p {
  color: rgb(100, 169, 31);
}

.modal-flex h2 {
  font-size: 35px;
  margin-bottom: 30px;
  box-shadow: rgb(124, 252, 0) 0px 2px 4px -2px;
  border-radius: 5px;
}
.modal-flex h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 80px;
}
.modal-flex p {
  font-style: italic;
}
.talk-me {
  position: absolute;
  top: 500px;
  right: 20px;
}

.talk-me a {
  text-decoration: none;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(124, 252, 0);
  border-radius: 50px;
  border: 2px solid rgb(124, 252, 0);
  padding: 13px 25px;
  margin-top: 20px;
  transition: all 300ms ease-in;
}

.talk-me a:hover {
  background: linear-gradient(45deg, rgb(124, 252, 0), rgb(62, 123, 0));
  border: 2px solid white;
  color: white;
}

.slides {
  display: flex;
}

.slide {
  position: relative;
  transition: all 1s ease-in-out;
}

.slide img {
  width: 570px;
}
.first img {
  margin-left: -30px;
}
.manual-navigation {
  position: absolute;
  width: 400px;
  margin-top: 7%;
  display: flex;
  margin-left: 8%;
  justify-content: center;
}

.radio-btn {
  display: none;
}

.manual-btn {
  border: 2px solid rgb(124, 252, 0);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 120%;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 50px;
}

.manual-btn:hover {
  background-color: rgb(124, 252, 0);
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -500px;
}

#radio3:checked ~ .first {
  margin-left: -1120px;
}

.navigation-auto div {
  border: 2px solid blue;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 2s;
}

.navigation-auto {
  position: absolute;
  width: 400px;
  display: flex;
  margin-left: 8%;
  justify-content: center;
  top: 95.9%;
}

.navigation-auto div:not(:last-child) {
  margin-right: 50px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: rgb(124, 252, 0);
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: rgb(124, 252, 0);
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: rgb(124, 252, 0);
}
/* RESPONSIVO */

@media (width <= 1200px) {
  .item {
    width: 270px;
    height: 350px;
  }

  .btn-open {
    top: 300px;
    left: 170px;
  }

  .grid-product {
    gap: 40px;
    margin-left: 6%;
  }

  /* FOOTER */

  footer {
    height: 35vh;
  }

  /* Inpecionar item */
  .modal-item {
    max-width: 850px;
    top: 90px;
    height: 70vh;
  }

  .btn-close {
    top: -40px;
  }
  .talk-me {
    top: 90%;
  }

  .talk-me a {
    font-size: 14px;
    padding: 9px 20px;
    margin-top: 0px;
  }
}

@media (width <= 576px) {
  main h1 {
    font-size: 26px;
    margin-top: -10%;
    width: 80vw;
    padding: 0 10px 5px 20px;
    margin-left: -20%;
  }

  .item {
    width: 150px;
    height: 230px;
  }

  .btn-open {
    width: 60px;
    font-size: 10px;
    padding: 4px;
    top: 200px;
    left: 76px;
  }

  .about-item {
    padding: 15px;
    margin-top: -15px;
  }
  .about-item h2 {
    font-size: 14px;
    margin-top: 10px;
  }
  .about-item p {
    margin-top: 8px;
    font-size: 12px;
  }

  .grid-product {
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    margin-top: 40px;
    margin-left: -2%;
  }

  /* FOOTER */

  footer {
    height: 20vh;
    padding: 20px;
    font-size: 13px;
  }

  footer img {
    padding: 5px;
    margin-right: 15px;
    width: 30px;
  }

  /* Inpecionar item */

  .modal-item {
    width: 85vw;
    display: grid;
    right: 7%;
    top: 10%;
    height: 80vh;
  }

  .full-picture {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;
  }

  .btn-close {
    top: 20px;
  }

  .info-item {
    padding: 15px;
  }

  .colors {
    margin-bottom: 5%;
  }

  .color-product {
    width: 23px;
    height: 23px;
    margin-left: 2px;
    margin-right: 15px;
  }

  .sizes {
    display: flex;
    margin-bottom: 10%;
  }

  .size-product {
    width: 35px;
    height: 35px;
    font-size: 12px;
    margin-left: 2px;
    margin-right: 15px;
  }
  .modal-flex h2 {
    font-size: 25px;
    margin-bottom: 8%;
    margin-top: -15%;
  }
  .modal-flex h3 {
    font-size: 20px;
    margin-bottom: 2%;
    margin-top: -5%;
  }
  .modal-flex p {
    font-size: 13px;
  }
  .talk-me {
    top: 90%;
    right: 5%;
  }

  .talk-me a {
    font-size: 13px;
    padding: 9px 20px;
    margin-top: 0px;
  }

  .manual-btn {
    border: 2px solid rgb(124, 252, 0);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-left: -6%;
    margin-top: 31.8vh;
  }

  .manual-btn:not(:last-child) {
    margin-right: 52px;
  }

  #radio1:checked ~ .first {
    margin-left: -30px;
  }

  #radio2:checked ~ .first {
    margin-left: -600px;
  }

  #radio3:checked ~ .first {
    margin-left: -1180px;
  }

  .navigation-auto div {
    border: 2px solid rgba(0, 0, 255, 0);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;
  }

  .navigation-auto {
    position: absolute;
    width: 400px;
    display: flex;
    margin-left: 5%;
    justify-content: center;
    top: 35vh;
  }

  .navigation-auto div:not(:last-child) {
    margin-right: 29px;
  }
}
